<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dloker.imam.dlokercompany">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MEDIA_CONTENT_CONTROL" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/dlogo218x218partner3"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DetailPelamar"
            android:configChanges="orientation"
            android:label="@string/title_activity_detail_pelamar"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AddLowongan"
            android:configChanges="orientation"
            android:label="@string/title_activity_add_lowongan"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Lowongan"
            android:configChanges="orientation"
            android:label="@string/title_activity_lowongan"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EditProfile"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Profile"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DetailDiterima"
            android:configChanges="orientation"
            android:label="@string/title_activity_detail_diterima"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ChangePass"
            android:configChanges="orientation"
            android:label="@string/title_activity_change_pass"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Splash"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LupaPass"
            android:label="@string/title_activity_lupa_pass"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <!-- <service -->
        <!-- android:name=".MyFirebaseMessagingService"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="com.google.firebase.MESSAGING_EVENT"/> -->
        <!-- </intent-filter> -->
        <!-- </service> -->


        <!-- <service -->
        <!-- android:name=".MyFirebaseInstanceIDService"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/> -->
        <!-- </intent-filter> -->
        <!-- </service> -->


        <!-- &lt;!&ndash; Set custom default icon. This is used when no icon is set for incoming notification messages. -->
        <!-- See README(https://goo.gl/l4GJaQ) for more. &ndash;&gt; -->
        <!-- <meta-data -->
        <!-- android:name="com.google.firebase.messaging.default_notification_icon" -->
        <!-- android:resource="" /> -->
        <!-- &lt;!&ndash; Set color used with incoming notification messages. This is used when no color is set for the incoming -->
        <!-- notification message. See README(https://goo.gl/6BKBk7) for more. &ndash;&gt; -->
        <!-- <meta-data -->
        <!-- android:name="com.google.firebase.messaging.default_notification_color" -->
        <!-- android:resource="@color/colorAccent" /> -->

        <activity
            android:name=".AddAcara"
            android:label="@string/title_activity_add_acara"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DetailAcara"
            android:label="@string/title_activity_detail_acara"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>